.main {
    margin: 0 auto;
    width: 400px;
}

.game-board {
    margin-top: 2%;
    display: grid;
    grid-template-rows: 100px 100px 100px;
    grid-template-columns: 100px 100px 100px;
}

.score-table {
    margin-left: 6%;
}

.x-score,
.o-score {
    display: inline-block;
    margin: 10px;
    font-size: 20px;
    border: 2px solid gray;
    border-image: none;
    -webkit-border-image: -webkit-gradient(linear, left top, left bottom, from(gray), to(#fff), color-stop(0.5, #fff), color-stop(0.5, #66cc00)) 10 30 30 21 repeat repeat;
    padding: 5px;
    border-radius: 8px;
}

.player {
    margin-right: 60px;
    font-weight: 600;
}

.crr-layer {
    color: #05e3a0;
    margin-left: 6%;
}

.winner {
    color: #66cc00;
    margin-left: 20%;
}

.new-game {
    margin-top: 2%;
    margin-left: 26%;
}

.new-game-btn {
    color:#05e3a0;
    border: none;
    background-color: white;
    font-size: 16px;
    cursor: pointer;
    font-weight: 600;
}
